
body{
    background-image: url(https://www.citedelarchitecture.fr/sites/default/files/styles/desktop_contenus_slider_1920x713/public/images/2017-02/049_biblio_cite_archi_pleine.jpg?h=f2ee3db3&itok=X7ZJ7zaD) ;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}


h1{
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

.description{
    color:rgb(0, 0, 0);
    background-color:  rgba(255, 255, 255, 0.682);
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: dotted 2px black;
}

nav {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: rgb(254, 254, 254);
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 24px;
    height: 24px;
}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    padding-top: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
}
th, td {
    border: 1px solid #333;
    padding: 10px 20px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}