nav {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: rgb(254, 254, 254);
    padding: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 24px;
    height: 24px;
}

h2 {
    font-size: 1.5rem;
    background-color: rgb(127, 215, 142);
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-align: center;
}

form {
    line-height: 35px;
    gap: 20px;
    text-align: center;
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.form-sondage {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.checkbox-group {
    gap: 10px;
}

textarea {
    width: 400px;  /* Fixed width */
    height: 150px; /* Fixed height */
    resize: none;  /* Prevent resizing */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
}

.btn {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-reset {
    background-color: rgba(72, 66, 66, 0.86);
}

.btn-submit {
    background-color: rgb(119, 204, 95);
}
